<% let nav_btn = 
`block p-2 mt-2 sm:mt-0 text-slate-700 rounded border-b-2 border-transparent 
dark:text-slate-300
hover:border-blue-500 
active:bg-blue-500 active:text-white`;
%>

<nav
  class = 
  "sticky border-b border-slate-300
  sm:flex items-center justify-between 
  p-3 drop-shadow w-full z-20 top-0 left-0
  bg-white
  dark:border-slate-600 dark:bg-gray-900">
  <div class="flex items-center justify-between">
    <div class="font-semibold">
      <a href="/">
        <img src="/images/procot-inline-logo.png" class="h-7" alt="Procot Logo">
      </a>
    </div>
    <div class="flex text-xl">
      <a href="/me" class="p-2 ml-4 flex justify-center rounded-full cursor-pointer 
      focus:outline-none bg-slate-800">
        <i class="fa fa-user"></i>
      </a>
      <button id="navbar-toggle" class="sm:hidden p-2 rounded-full cursor-pointer focus:outline-none" type="button"
        onclick="toggleMenu()">
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </div>
  <div id="navbar-menu" class="sm:flex sm:items-center pt-3 sm:pt-0 hidden transition-opacity">
    <a class="<%= nav_btn %>" href="/">Home</a>
    <a class="<%= nav_btn %>" href="/quiz">Quiz</a>
    <a class="<%= nav_btn %>" href="/projects">Projects</a> 
    <a class="<%= nav_btn %>" href="/activity">Events</a>
    <a class="<%= nav_btn %>" href="/problems">Problems</a>
    <a class="<%= nav_btn %>" href="/about">About</a>
    <a class="border-blue-500 <%= nav_btn %>" href="/auth/register">Join Procot</a>
  </div>
</nav>

<script>

  function toggleMenu() {

    const navbarMenu = document.querySelector('#navbar-menu')
    navbarMenu.classList.toggle('hidden')

  }


</script>