<link rel="stylesheet" href="/styles/github-dark.min.css">
<script src="/scripts/highlight.min.js"></script>

<% 
let empty_message = "No Contribution yet! Be the first to contribute!"; 
let title_classes = "text-xl py-1 my-4 border-b border-blue-200 dark:border-gray-500 font-medium text-gray-500 dark:text-white";
let contributor_title_cls = "text-blue-500";
%>


<script>

    hljs.highlightAll();

    window.onload = (e) => {

        // get elements
        const output_box = document.getElementById("output-box");
        const algorithm_box = document.getElementById("algorithm-box");
        const code_box = document.getElementById("code-box");

        // get contents from the backend
        let algorithm_content = `<%= content.algorithm != "" ? content.algorithm : empty_message %>`;
        let code_content = `<%= content.code != "" ? content.code : empty_message %>`;
        let output_content = `<%= content.output != "" ? content.output : empty_message %>`;

        // render contents
        algorithm_box.innerText = algorithm_content;
        code_box.innerText = code_content;
        output_box.innerText = output_content;

    }

</script>

<div>
    <div class="text-xl py-1 mb-3 border-b border-blue-200 dark:border-gray-500 font-medium text-gray-500 dark:text-white">
        Search Lab Questions!
    </div>
    <form action="/" method="GET">
        <label for="default-search"
            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <i class="fa fa-search text-gray-300"></i>
            </div>
            <input type="search" id="default-search"
                class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search Code Solutions..." required>
            <button type="submit"
                class="text-white absolute right-2.5 bottom-2.5 bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
        </div>
    </form>

    <!-- <div class="<%= title_classes %>">
        Write a program to implement first pattern matching algorithm.
    </div> -->

    <div class="<%= title_classes %>">
        Algorithm
        <small>
            <a href="#" class="<%= contributor_title_cls %>">
                <%= contributor.algorithm != "" ? "- ✍ " + contributor.algorithm : "" %>
            </a>
        </small>
    </div>

    <pre id="algorithm-box" class="p-4 overflow-auto rounded bg-gray-900 text-gray-200"><div role="status"><i class="fa fa-circle-notch w-8 h-8 mr-2 text-gray-400 animate-spin dark:text-gray-600"></i><span class="sr-only">Loading...</span></div>
    </pre>

    <div class="<%= title_classes %>">
        Source Code
        <small>
            <a href="#" class="<%= contributor_title_cls %>">
                <%= contributor.code != "" ? "- ✍ " + contributor.code : "" %>
            </a>
        </small>
    </div>

    <pre class="overflow-auto rounded bg-gray-900 text-gray-200"><code id="code-box" class="language-cpp rounded"><div role="status"><span class="p-4">Loading...</span></div></code></pre>

    <div class="<%= title_classes %>">
        Output
        <small>
            <a href="#" class="<%= contributor_title_cls %>">
                <%= contributor.output != "" ? "- ✍ " + contributor.output : "" %>
            </a>
        </small>
    </div>
    
    <pre id="output-box" class="p-4 overflow-auto bg-gray-900 text-green-500 rounded"><div role="status"><i class="fa fa-circle-notch w-8 h-8 mr-2 text-gray-400 animate-spin dark:text-gray-600"></i><span class="sr-only">Loading...</span></div>
    </pre>

</div>