<link rel="stylesheet" href="/styles/github-dark.min.css">
<script src="/scripts/highlight.min.js"></script>

<% 
let empty_message = "No Contribution yet!\nBe the first to contribute!"; 
let title_classes = "flex justify-between text-xl py-1 my-4 border-b border-blue-200 dark:border-gray-500 font-medium text-gray-500 dark:text-white";
let contributor_title_cls = "text-blue-500";
%>

<style>
    .algo_list {
        list-style-type: none;
        counter-reset: elementcounter;
    }

    .algo_list > li:before {
        color: rgb(96 165 250);
        content: "Step-" counter(elementcounter) ": ";
        counter-increment: elementcounter;
    }
    .pre-font {
        font-family: Consolas,monospace
    }
</style>


<script>

    hljs.highlightAll();

    window.onload = (e) => {

        // do something

    }

</script>

<div>
    <div class="text-xl py-1 mb-3 border-b border-blue-200 dark:border-gray-500 font-medium text-gray-500 dark:text-white">
        Search Lab Questions!
    </div>
    <form action="/" method="GET">
        <label for="default-search"
            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <i class="fa fa-search text-gray-300"></i>
            </div>
            <input type="search" id="default-search"
                class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Search Code Solutions..." required>
            <button type="submit"
                class="text-white absolute right-2.5 bottom-2.5 bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
        </div>
    </form>

    <% if (content.title != "") { %>
        <div class="py-2 text-xl">
            <strong>Question: </strong>
            <%= content.title %>
        </div>
    <% } %>

    <div class="<%= title_classes %>">
        <div>
            Algorithm
            <small>
                <a href="#" class="<%= contributor_title_cls %>">
                    <%= contributor.algorithm != "" ? "- ✍ " + contributor.algorithm : "" %>
                </a>
            </small>
        </div>
        <div>
            <button class="p-2"><i class="fa fa-file-code"></i></button>
            <button class="p-2"><i class="fa fa-copy"></i></button>
        </div>
    </div>

    <% let algo_lines = content.algorithm.split("\n") %>
    
    <div class="p-4 pre-font whitespace-nowrap overflow-auto rounded bg-gray-900 text-gray-200">
        <% if (content.algorithm != "") { %>
            <ol class="algo_list">

                <% algo_lines.forEach(line => { %>

                    <li><%= line %></li>

                <% }) %>

            </ol>
        <% } else { %>
            <%= empty_message %>
        <% } %> 
    </div>

    <div class="<%= title_classes %>">
        <div>
            Source Code
            <small>
                <a href="#" class="<%= contributor_title_cls %>">
                    <%= contributor.code != "" ? "- ✍ " + contributor.code : "" %>
                </a>
            </small>
        </div>
        <div>
            <button class="p-2"><i class="fa fa-file-code"></i></button>
            <button class="p-2"><i class="fa fa-copy"></i></button>
        </div>
    </div>

    <pre class="overflow-auto rounded bg-gray-900 text-gray-200"><code id="code-box" class="language-cpp rounded"><%= content.code != "" ? content.code : empty_message %></code></pre>

    <div class="<%= title_classes %>">
        <div>
            Output
            <small>
                <a href="#" class="<%= contributor_title_cls %>">
                    <%= contributor.output != "" ? "- ✍ " + contributor.output : "" %>
                </a>
            </small>
        </div>
        <div>
            <button class="p-2"><i class="fa fa-file-code"></i></button>
            <button class="p-2"><i class="fa fa-copy"></i></button>
        </div>
    </div>
    
    <pre class="p-4 overflow-auto bg-gray-900 text-blue-400 rounded"><%= content.output != "" ? content.output : empty_message %></pre>

</div>